


<form>
  <h1><marquee>SGPA CGPA AND MARKS PERCENTAGE CALCULATOR ..DEVELOPE YOUR GRADES  </marquee></h1>
  
 <h1>BTECH 1 YEAR 1 SEM</h1>


<hr>
<h2>ENGINEERING WORKSHOP (15105) CREDITS(2.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num1" [(ngModel)] = "num1" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num2"  [(ngModel)] = "num2" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result }}"> 
<button  (click)="Total()" class="btn btn-primary mt-4">Submit</button></p><hr>











<hr>
<h2>ENGINEERING CHEMISTRY LAB  (15106) CREDITS(1.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num3" [(ngModel)] = "num3" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num4"  [(ngModel)] = "num4" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result1 }}"> 
<button  (click)="Total1()" class="btn btn-primary mt-4">Submit</button></p><hr>









 <hr>
<h2>ENGLISH LANGUAGE AND COMMUNICATION SKILLS LAB  (15107) CREDITS(1)</h2><p>
  <label ></label>
  <input type = "text"  name="num5" [(ngModel)] = "num5" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num6"  [(ngModel)] = "num6" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result2 }}">
 

 
<button  (click)="Total2()" class="btn btn-primary mt-4">Submit</button></p><hr>

<hr>
<h2>BASIC ELECTRICAL ENGINEERING LAB   (15108) CREDITS(1)</h2><p>
  <label ></label>
  <input type = "text"  name="num7" [(ngModel)] = "num7" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num8"  [(ngModel)] = "num8" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result3 }}">
 

 
<button  (click)="Total3()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>MATHEMATICS - I   (151AA) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num9" [(ngModel)] = "num9" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num10"  [(ngModel)] = "num10" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result4 }}">
 

 
<button  (click)="Total4()" class="btn btn-primary mt-4">Submit</button></p><hr>



<hr>
<h2>CHEMISTRY (151AF) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num11" [(ngModel)] = "num11" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num12"  [(ngModel)] = "num12" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result5 }}">
 

 
<button  (click)="Total5()" class="btn btn-primary mt-4">Submit</button></p><hr>






 <hr>
<h2>BASIC ELECTRICAL ENGINEERING  (151AG) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num13" [(ngModel)] = "num13" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num14"  [(ngModel)] = "num14" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total6" value="{{ result6 }}">
 

 
<button  (click)="Total6()" class="btn btn-primary mt-4">Submit</button></p><hr>

 
 <hr>
<h2>ENGLISH  (151AH) CREDITS(2)</h2><p>
  <label ></label>
  <input type = "text"  name="num15" [(ngModel)] = "num15" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num16"  [(ngModel)] = "num16" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result7 }}">
 

 
<button  (click)="Total7()" class="btn btn-primary mt-4">Submit</button></p><hr>





 <hr> click submit  <input  class="form-control"  placeholder="clicknext" value="{{ resultall }}">
 

 
<button  (click)="Totalall()" class="btn btn-primary mt-4">Submit</button><hr>





   <hr>  click on submit for sgpa<input  class="form-control"  placeholder="clicknext" value="{{ resultfinal }}">
 

 
<button  (click)="Totalfinal()" class="btn btn-primary mt-4">Submit</button><hr>


<hr>
<hr>
<hr><hr>
<hr>








<h1>BTECH 1 YEAR 2 SEM </h1>
<h4><marquee>CALCULATE YOUR 1 YEAR 2 SEM SGPA</marquee></h4>
<hr>
<h2>APPLIED PHYSICS LAB   (15205) CREDITS(1.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num30" [(ngModel)] = "num30" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num31"  [(ngModel)] = "num31" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result31 }}">
 

 
<button  (click)="Total31()" class="btn btn-primary mt-4">Submit</button></p><hr>








<hr>
<h2>PROGRAMMING FOR PROBLEM SOLVING LAB  (15206) CREDITS(1.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num32" [(ngModel)] = "num32" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num33"  [(ngModel)] = "num33" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result33 }}">
 

 
<button  (click)="Total33()" class="btn btn-primary mt-4">Submit</button></p><hr>









 <hr>
<h2>ENVIRONMENTAL SCIENCE   (15207) CREDITS(0)</h2><p>
  <label ></label>
  <input type = "text"  name="num34" [(ngModel)] = "num34" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num35"  [(ngModel)] = "num35" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result35 }}">
 

 
<button  (click)="Total35()" class="btn btn-primary mt-4">Submit</button></p><hr>





<hr>
<h2>MATHEMATICS - II   (152AA) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num36" [(ngModel)] = "num36" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num37"  [(ngModel)] = "num37" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result37 }}">
 
<button  (click)="Total37()" class="btn btn-primary mt-4">Submit</button></p><hr>




 <hr>
<h2>APPLIED PHYSICS  (4) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num38" [(ngModel)] = "num38" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num39"  [(ngModel)] = "num39" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result39 }}">
 
<button  (click)="Total39()" class="btn btn-primary mt-4">Submit</button></p><hr>






<hr>
<h2>PROGRAMMING FOR PROBLEM SOLVING  (152AF) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num40" [(ngModel)] = "num40" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num41"  [(ngModel)] = "num41" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result41 }}">
 
<button  (click)="Total41()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>ENGINEERING GRAPHICS  (152AG) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num42" [(ngModel)] = "num42" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num43"  [(ngModel)] = "num43" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result43 }}">
 

<button  (click)="Total43()" class="btn btn-primary mt-4">Submit</button></p><hr>





  <hr> click on submit<input  class="form-control"  placeholder="Total" value="{{ resultall2 }}">
 

<button  (click)="Totalall2()" class="btn btn-primary mt-4">Submit</button>
<hr>



 <hr> click on submit for final result  <input  class="form-control"  placeholder="Total" value="{{ resultfinal2 }}">
 

<button  (click)="Totalfinal2()" class="btn btn-primary mt-4">Submit</button>
<hr>
<hr><hr><hr><hr>






<h1>BTECH 2 YEAR 1 SEM </h1>
<h4><marquee>CALCULATE YOUR 2 YEAR 1 SEM SGPA</marquee></h4>
<hr>
<h2>ANALOG AND DIGITAL ELECTRONICS LAB   (15301) CREDITS(1)</h2><p>
  <label ></label>
  <input type = "text"  name="num60" [(ngModel)] = "num60" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num61"  [(ngModel)] = "num61" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result61 }}">
 
<button  (click)="Total61()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>C++ PROGRAMMING LAB  (15306) CREDITS(1)</h2><p>
  <label ></label>
  <input type = "text"  name="num62" [(ngModel)] = "num62" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num63"  [(ngModel)] = "num63" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result63 }}">
 
<button  (click)="Total63()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>DATA STRUCTURES LAB  (15307) CREDITS(1.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num64" [(ngModel)] = "num64" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num65"  [(ngModel)] = "num65" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result65 }}">
 
<button  (click)="Total65()" class="btn btn-primary mt-4">Submit</button></p><hr>



 <hr>
<h2>IT WORKSHOP LAB  (15317) CREDITS(1.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num66" [(ngModel)] = "num66" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num67"  [(ngModel)] = "num67" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result67 }}">
 
<button  (click)="Total67()" class="btn btn-primary mt-4">Submit</button></p><hr>





<hr>
<h2>GENDER SENSITIZATION LAB  (15332) CREDITS(0)</h2><p>
  <label ></label>
  <input type = "text"  name="num68" [(ngModel)] = "num68" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num69"  [(ngModel)] = "num69" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result69 }}">
 
<button  (click)="Total69()" class="btn btn-primary mt-4">Submit</button></p><hr>



<hr>
<h2>ANALOG AND DIGITAL ELECTRONICS  (153AB) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num70" [(ngModel)] = "num70" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num71"  [(ngModel)] = "num71" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result71 }}">
 
<button  (click)="Total71()" class="btn btn-primary mt-4">Submit</button></p><hr>







 <hr>
<h2>COMPUTER ORGANIZATION AND ARCHITECTURE  (153AG) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num72" [(ngModel)] = "num72" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num73"  [(ngModel)] = "num73" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result73 }}">
 
<button  (click)="Total73()" class="btn btn-primary mt-4">Submit</button></p><hr>






<hr>
<h2>COMPUTER ORIENTED STATISTICAL METHODS  (153AJ) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num74" [(ngModel)] = "num74" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num75"  [(ngModel)] = "num75" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result75 }}">
 
<button  (click)="Total75()" class="btn btn-primary mt-4">Submit</button></p><hr>




 <hr>

<h2>DATA STRUCTURES  (153AK) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num76" [(ngModel)] = "num76" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num77"  [(ngModel)] = "num77" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result77 }}">
 
<button  (click)="Total77()" class="btn btn-primary mt-4">Submit</button>
</p><hr>




 <hr>
<h2>OBJECT ORIENTED PROGRAMMING USING C++  (153BK) CREDITS(2)</h2><p>
  <label ></label>
  <input type = "text"  name="num78" [(ngModel)] = "num78" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num79"  [(ngModel)] = "num79" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result79 }}">
 
<button  (click)="Total79()" class="btn btn-primary mt-4">Submit</button></p><hr>




click on submit <input  class="form-control"  placeholder="Total" value="{{ resultall3 }}">
 
<button  (click)="Totalall3()" class="btn btn-primary mt-4">Submit</button><hr>

   <P>  click on submit for final sgpa<input  class="form-control"  placeholder="Total" value="{{ resultfinal3 }}">
 
<button  (click)="Totalfinal3()" class="btn btn-primary mt-4">Submit</button></P><hr><hr><hr><hr><hr>


<h1>BTECH 2 YEAR 2 SEM</h1><hr>
<h4><marquee>CALCULATE YOUR 2 YEAR 2 SEM SGPA</marquee></h4>

<hr>
<h2>DATABASE MANAGEMENT SYSTEMS LAB  (15408) CREDITS(1.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num80" [(ngModel)] = "num80" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num81"  [(ngModel)] = "num81" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result81 }}">
 
<button  (click)="Total81()" class="btn btn-primary mt-4">Submit</button></p><hr>



<hr>
<h2>JAVA PROGRAMMING LAB   (15419) CREDITS(1)</h2><p>
  <label ></label>
  <input type = "text"  name="num82" [(ngModel)] = "num82" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num83"  [(ngModel)] = "num83" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result83 }}">
 
<button  (click)="Total83()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>OPERATING SYSTEMS LAB  (15423) CREDITS(1.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num84" [(ngModel)] = "num84" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num85"  [(ngModel)] = "num85" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result85 }}">
 
<button  (click)="Total85()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>CONSTITUTION OF INDIA  (15427 ) CREDITS(0)</h2><p>
  <label ></label>
  <input type = "text"  name="num86" [(ngModel)] = "num86" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num87"  [(ngModel)] = "num87" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result87 }}">
 
<button  (click)="Total87()" class="btn btn-primary mt-4">Submit</button></p><hr>



<hr>
<h2>BUSINESS ECONOMICS & FINANCIAL ANALYSIS  (154AH) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num88" [(ngModel)] = "num88" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num89"  [(ngModel)] = "num89" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result89 }}">
 
<button  (click)="Total89()" class="btn btn-primary mt-4">Submit</button></p><hr>
<hr>



<h2>DATABASE MANAGEMENT SYSTEMS  (154AM) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num90" [(ngModel)] = "num90" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num91"  [(ngModel)] = "num91" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result91 }}">
 
<button  (click)="Total91()" class="btn btn-primary mt-4">Submit</button></p><hr>



<hr>
<h2>DISCRETE MATHEMATICS    (154AQ) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num100" [(ngModel)] = "num100" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num101"  [(ngModel)] = "num101" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result101 }}">
 
<button  (click)="Total101()" class="btn btn-primary mt-4">Submit</button></p><hr>






 <hr>
<h2>JAVA PROGRAMMING   (154BE) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num102" [(ngModel)] = "num102" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num103"  [(ngModel)] = "num103" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result103 }}">
 
<button  (click)="Total103()" class="btn btn-primary mt-4">Submit</button></p><hr>




 <hr>
<h2>OPERATING SYSTEMS (154BR) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num104" [(ngModel)] = "num104" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num105"  [(ngModel)] = "num105" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result105 }}">
 
<button  (click)="Total105()" class="btn btn-primary mt-4">Submit</button></p><hr>


 click on submit<input  class="form-control"  placeholder="Total" value="{{ resultall4 }}">
 
<button  (click)="Totalall4()" class="btn btn-primary mt-4">Submit</button><hr>


   
click on submit for final sgpa <input  class="form-control"  placeholder="Total" value="{{ resultfinal4 }}">
 
<button  (click)="Totalfinal4()" class="btn btn-primary mt-4">Submit</button>


<hr><hr><hr>
<hr><hr>

<h1>BTECH 3 YEAR 1 SEM </h1> <hr>
<h4><marquee>CALCULATE YOUR 3 YEAR 1 SEM SGPA</marquee></h4>












 <hr>
<h2>ADVANCED COMMUNICATION SKILLS LAB   (15501) CREDITS(1)</h2><p>
  <label ></label>
  <input type = "text"  name="num106" [(ngModel)] = "num106" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num107"  [(ngModel)] = "num107" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result107 }}"> 
<button  (click)="Total107()" class="btn btn-primary mt-4">Submit</button></p><hr>



 <hr>
<h2>SOFTWARE ENGINEERING LAB    (15529) CREDITS(1.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num108" [(ngModel)] = "num108" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num109"  [(ngModel)] = "num109" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result109 }}"> 
<button  (click)="Total109()" class="btn btn-primary mt-4">Submit</button></p><hr>






<hr>
<h2>COMPUTER NETWORKS & WEB TECHNOLOGIES LAB   (15506 ) CREDITS(1.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num110" [(ngModel)] = "num110" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num111"  [(ngModel)] = "num111" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result111 }}"> 
<button  (click)="Total111()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>INTELLECTUAL PROPERTY RIGHTS    (15531) CREDITS(0)</h2><p>
  <label ></label>
  <input type = "text"  name="num112" [(ngModel)] = "num112" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num113"  [(ngModel)] = "num113" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result113 }}"> 
<button  (click)="Total113()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>ARTIFICIAL INTELLIGENCE  (15532) CREDITS(0)</h2><p>
  <label ></label>
  <input type = "text"  name="num114" [(ngModel)] = "num114" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num115"  [(ngModel)] = "num115" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result115 }}"> 
<button  (click)="Total115()" class="btn btn-primary mt-4">Submit</button></p><hr>








<hr>
<h2>DISTRIBUTED DATABASES   (155AY) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num116" [(ngModel)] = "num116" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num117"  [(ngModel)] = "num117" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result117 }}"> 
<button  (click)="Total117()" class="btn btn-primary mt-4">Submit</button></p><hr>



<hr>
<h2>FORMAL LANGUAGES & AUTOMATA THEORY    (155BK) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num118" [(ngModel)] = "num118" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num119"  [(ngModel)] = "num119" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result119 }}"> 
<button  (click)="Total119()" class="btn btn-primary mt-4">Submit</button></p><hr>





<hr>
<h2>PRINCIPLES OF PROGRAMMING LANGUAGES  (155CX) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num200" [(ngModel)] = "num200" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num201"  [(ngModel)] = "num201" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result201 }}"> 
<button  (click)="Total201()" class="btn btn-primary mt-4">Submit</button></p><hr>





<hr>
<h2>SOFTWARE ENGINEERING   (155DB) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num202" [(ngModel)] = "num202" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num203"  [(ngModel)] = "num203" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result203 }}"> 
<button  (click)="Total203()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>WEB TECHNOLOGIES   (155DN) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num204" [(ngModel)] = "num204" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num205"  [(ngModel)] = "num205" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result205 }}"> 
<button  (click)="Total205()" class="btn btn-primary mt-4">Submit</button></p><hr>

click on submit<input  class="form-control"  placeholder="Total" value="{{ resultall5 }}"> 
<button  (click)="Totalall5()" class="btn btn-primary mt-4">Submit</button><hr>

click on submit for final sgpa<input  class="form-control"  placeholder="Total" value="{{ resultfinal5 }}"> 
<button  (click)="Totalfinal5()" class="btn btn-primary mt-4">Submit</button><hr>

<hr>
<hr>
<hr>
<hr>
<hr>
<h1>BTECH 3 YEAR 2 SEM </h1>
<h4><marquee>CALCULATE YOUR 3 YEAR 2 SEM SGPA</marquee></h4>
<hr>
<h2> COMPILER DESIGN LAB  (15607) CREDITS(1.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num206" [(ngModel)] = "num206" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num207"  [(ngModel)] = "num207" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result207 }}"> 
<button  (click)="Total207()" class="btn btn-primary mt-4">Submit</button></p><hr>



<hr>
<h2>MACHINE LEARNING LAB   (15618) CREDITS(1.5)</h2><p>
  <label ></label>
  <input type = "text"  name="num208" [(ngModel)] = "num208" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num209"  [(ngModel)] = "num209" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result209 }}"> 
<button  (click)="Total209()" class="btn btn-primary mt-4">Submit</button></p><hr>



<hr>
<h2>SCRIPTING LANGUAGES LAB  (15629) CREDITS(1)</h2><p>
  <label ></label>
  <input type = "text"  name="num300" [(ngModel)] = "num300" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num301"  [(ngModel)] = "num301" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result301 }}"> 
<button  (click)="Total301()" class="btn btn-primary mt-4">Submit</button></p><hr>



<hr>
<h2>CYBER SECURITY   (15634) CREDITS(0)</h2><p>
  <label ></label>
  <input type = "text"  name="num302" [(ngModel)] = "num302" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num303"  [(ngModel)] = "num303" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result303 }}"> 
<button  (click)="Total303()" class="btn btn-primary mt-4">Submit</button></p><hr>


<hr>
<h2>COMPILER DESIGN  (156AH) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num304" [(ngModel)] = "num304" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num305"  [(ngModel)] = "num305" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result305 }}"> 
<button  (click)="Total305()" class="btn btn-primary mt-4">Submit</button></p><hr>


<hr>
<h2>DESIGN AND ANALYSIS OF ALGORITHMS  (156AN) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num306" [(ngModel)] = "num306" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num307"  [(ngModel)] = "num307" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result307 }}"> 
<button  (click)="Total307()" class="btn btn-primary mt-4">Submit</button></p><hr>


<hr>
<h2> MACHINE LEARNING (156BN) CREDITS(4)</h2><p>
  <label ></label>
  <input type = "text"  name="num308" [(ngModel)] = "num308" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num309"  [(ngModel)] = "num309" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result309 }}"> 
<button  (click)="Total309()" class="btn btn-primary mt-4">Submit</button></p><hr>

<hr>
<h2>SCRIPTING LANGUAGES  (156CU) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num400" [(ngModel)] = "num400" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num401"  [(ngModel)] = "num401" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result401 }}"> 
<button  (click)="Total401()" class="btn btn-primary mt-4">Submit</button></p><hr>


<hr>
<h2>FUNDAMENTALS OF INTERNET OF THINGS   (156DR) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num402" [(ngModel)] = "num402" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num403"  [(ngModel)] = "num403" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result403 }}"> 
<button  (click)="Total403()" class="btn btn-primary mt-4">Submit</button></p><hr>

click on submit <input  class="form-control"  placeholder="Total" value="{{ resultall6 }}"> 
<button  (click)="Totalall6()" class="btn btn-primary mt-4">Submit</button><hr>


click on submit for final sgpa<input  class="form-control"  placeholder="Total" value="{{ resultfinal6 }}"> 
<button  (click)="Totalfinal6()" class="btn btn-primary mt-4">Submit</button><hr>

<hr>
<hr>
<hr>
<hr>
<hr>
<h1>BTECH 4 YEAR 1 SEM</h1><hr>
<h4><marquee>CALCULATE YOUR 4 YEAR 1 SEM SGPA</marquee></h4>
<hr>
<h2>CRYPTOGRAPHY & NETWORK SECURITY LAB  (15702) CREDITS(1)</h2><p>
  <label ></label>
  <input type = "text"  name="num406" [(ngModel)] = "num406" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num407"  [(ngModel)] = "num407" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result407 }}"> 
<button  (click)="Total407()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>SEMINAR  (15710) CREDITS(1)</h2><p>
  <label ></label>
  <input type = "text"  name="num408" [(ngModel)] = "num408" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num409"  [(ngModel)] = "num409" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result409 }}"> 
<button  (click)="Total409()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>INDUSTRIAL ORIENTED MINI PROJECT SUMMER INTERNSHIP (15722) CREDITS(2)</h2><p>
  <label ></label>
  <input type = "text"  name="num500" [(ngModel)] = "num500" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num501"  [(ngModel)] = "num501" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result501 }}"> 
<button  (click)="Total501()" class="btn btn-primary mt-4">Submit</button></p><hr>



<hr>
<h2>PROJECT STAGE - I  (15734) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num502" [(ngModel)] = "num502" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num503"  [(ngModel)] = "num503" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result503 }}"> 
<button  (click)="Total503()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>CLOUD COMPUTING   (157AW) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num504" [(ngModel)] = "num504" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num505"  [(ngModel)] = "num505" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result505 }}"> 
<button  (click)="Total505()" class="btn btn-primary mt-4">Submit</button></p><hr>



<hr>
<h2>CRYPTOGRAPHY & NETWORK SECURITY  (157BB) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num506" [(ngModel)] = "num506" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num507"  [(ngModel)] = "num507" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result507 }}"> 
<button  (click)="Total507()" class="btn btn-primary mt-4">Submit</button></p><hr>


<hr>
<h2>DATA MINING  (157BC) CREDITS(2)</h2><p>
  <label ></label>
  <input type = "text"  name="num508" [(ngModel)] = "num508" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num509"  [(ngModel)] = "num509" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result509 }}"> 
<button  (click)="Total509()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>REAL TIME SYSTEMS  (157DJ) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num600" [(ngModel)] = "num600" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num601"  [(ngModel)] = "num601" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result601 }}"> 
<button  (click)="Total601()" class="btn btn-primary mt-4">Submit</button></p><hr>





<hr>
<h2>REMOTE SENSING & GIS   (157EZ) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num602" [(ngModel)] = "num602" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num603"  [(ngModel)] = "num603" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result603 }}"> 
<button  (click)="Total603()" class="btn btn-primary mt-4">Submit</button></p><hr>

<p>click on submit<input  class="form-control"  placeholder="Total" value="{{ resultall7 }}"> 
<button  (click)="Totalall7()" class="btn btn-primary mt-4">Submit</button></p><hr>


click on submit for final sgpa<input  class="form-control"  placeholder="Total" value="{{ resultfinal7 }}"> 
<button  (click)="Totalfinal7()" class="btn btn-primary mt-4">Submit</button><hr>


<hr>
<hr>
<hr>
<hr>
<hr>

<h1>BTECH 4 YEAR 2 SEM CGPA</h1><hr>
<h4><marquee>CALCULATE YOUR 4 YEAR 2 SEM SGPA</marquee></h4>

<hr>
<h2>PROJECT STAGE II    (15805) CREDITS(7)</h2><p>
  <label ></label>
  <input type = "text"  name="num604" [(ngModel)] = "num604" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num605"  [(ngModel)] = "num605" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result605 }}"> 
<button  (click)="Total605()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>CYBER FORENSICS  (158AQ) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num606" [(ngModel)] = "num606" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num607"  [(ngModel)] = "num607" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result607 }}"> 
<button  (click)="Total607()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>ORGANIZATIONAL BEHAVIOUR    (158CA) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num608" [(ngModel)] = "num608" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num609"  [(ngModel)] = "num609" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result609 }}"> 
<button  (click)="Total609()" class="btn btn-primary mt-4">Submit</button></p><hr>




<hr>
<h2>ENVIRONMENTAL IMPACT ASSESSMENT    (158DF) CREDITS(3)</h2><p>
  <label ></label>
  <input type = "text"  name="num700" [(ngModel)] = "num700" class="form-control"  placeholder="ENTER CREDITS">
 

 

    <label ></label>
    <input type = "text"  name="num701"  [(ngModel)] = "num701" class="form-control"  placeholder="ENTER GRADES">
  
  
  
    <label >Total</label>
    <input  class="form-control"  placeholder="Total" value="{{ result701 }}"> 
<button  (click)="Total701()" class="btn btn-primary mt-4">Submit</button></p><hr>


<p>click on submit<input  class="form-control"  placeholder="Total" value="{{ resultall8 }}"> 
<button  (click)="Totalall8()" class="btn btn-primary mt-4">Submit</button></p><hr>

<p>click on submit for final sgpa<input  class="form-control"  placeholder="Total" value="{{ resultfinal8 }}"> 
<button  (click)="Totalfinal8()" class="btn btn-primary mt-4">Submit</button></p>






<hr><hr><hr><hr><hr>

<h1>FIND YOUR CGPA FOR EVERY SEM </h1>
<h4><marquee>CALCULATE YOUR CGPA</marquee></h4>

<p>click on submit for final cgpa for 2 sem's<input  class="form-control"  placeholder="Total" value="{{ resultcgpa }}"> 
<button  (click)="Totalcgpa()" class="btn btn-primary mt-4">Submit</button></p>

<p>click on submit for final cgpa for 3 sem's<input  class="form-control"  placeholder="Total" value="{{ resultcgpa1 }}"> 
<button  (click)="Totalcgpa1()" class="btn btn-primary mt-4">Submit</button></p>


<p>click on submit for final cgpa for 4 sem's<input  class="form-control"  placeholder="Total" value="{{ resultcgpa2 }}"> 
<button  (click)="Totalcgpa2()" class="btn btn-primary mt-4">Submit</button></p>

<p>click on submit for final cgpa for 5 sem's<input  class="form-control"  placeholder="Total" value="{{ resultcgpa3 }}"> 
<button  (click)="Totalcgpa3()" class="btn btn-primary mt-4">Submit</button></p>


<p>click on submit for final cgpa for 6 sem's<input  class="form-control"  placeholder="Total" value="{{ resultcgpa4 }}"> 
<button  (click)="Totalcgpa4()" class="btn btn-primary mt-4">Submit</button></p>


<p>click on submit for final cgpa for 7 sem's<input  class="form-control"  placeholder="Total" value="{{ resultcgpa5 }}"> 
<button  (click)="Totalcgpa5()" class="btn btn-primary mt-4">Submit</button></p>


<p>click on submit for final cgpa for 8 sem's<input  class="form-control"  placeholder="Total" value="{{ resultcgpa6 }}"> 
<button  (click)="Totalcgpa6()" class="btn btn-primary mt-4">Submit</button></p>


<hr>
<hr>
<hr>
<hr>
<hr>
<h1>FIND YOUR MARKS PERCENTAGE</h1>
<h4><marquee>CALCULATE YOUR MARKS PERCENTAGE</marquee></h4>


<p>click on submit for final marks percentage for 2 sem's<input  class="form-control"  placeholder="Total" value="{{ resultmarks }}"> 
<button  (click)="Totalmarks()" class="btn btn-primary mt-4">Submit</button></p>


<p>click on submit for final marks percentage for 3 sem's<input  class="form-control"  placeholder="Total" value="{{ resultmarks1 }}"> 
<button  (click)="Totalmarks1()" class="btn btn-primary mt-4">Submit</button></p>

<p>click on submit for final marks percentage for 4 sem's<input  class="form-control"  placeholder="Total" value="{{ resultmarks2 }}"> 
<button  (click)="Totalmarks2()" class="btn btn-primary mt-4">Submit</button></p>

<p>click on submit for final marks percentage for 5 sem's<input  class="form-control"  placeholder="Total" value="{{ resultmarks3 }}"> 
<button  (click)="Totalmarks3()" class="btn btn-primary mt-4">Submit</button></p>

<p>click on submit for final marks percentage for 6 sem's<input  class="form-control"  placeholder="Total" value="{{ resultmarks4 }}"> 
<button  (click)="Totalmarks4()" class="btn btn-primary mt-4">Submit</button></p>

<p>click on submit for final marks percentage for 7 sem's<input  class="form-control"  placeholder="Total" value="{{ resultmarks5 }}"> 
<button  (click)="Totalmarks5()" class="btn btn-primary mt-4">Submit</button></p>

<p>click on submit for final marks percentage for 8 sem's<input  class="form-control"  placeholder="Total" value="{{ resultmarks6 }}"> 
<button  (click)="Totalmarks6()" class="btn btn-primary mt-4">Submit</button></p>

</form>